.game-app {
    height: 720px;
    width: 700px;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(236, 236, 236);
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.point-container {
    padding-left: 40px;
}

h3 {
    font-family: 'Cairo', sans-serif;
}

.count-down {
    width: 120px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.only-seconds {
      margin-left: 20px;
}
  
.com-random-container {
    display: flex;
    justify-content: center;
}

.com-choice-icon-class {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.com-icon-fa {
    font-size: 70px;  
}

.game-result-text-container {
    display: flex;
    justify-content: center;
}
  
.my-choice-container {
    display: flex;
    justify-content: center;
}

.my-choice-icon-class {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}
  
.my-icon-fa{
    font-size: 70px;
}

.choices-container{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}
  
.rock-button {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 30px;
}

.rock-button:hover{
    background-color: #fd892b;
}
  
.paper-button {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 30px;
}

.paper-button:hover{
    background-color: #fd892b;
}
  
.scissors-button {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 30px;
}

.scissors-button:hover{
    background-color: #fd892b;
}
  
.start-button-container {
    display: flex;
    justify-content: center;
}

.icon-class {
    font-size:70px;
}

.fa-scissors {
    font-size:70px;
    transform: rotate(90deg) scaleY(-1);
}

button > * {
    pointer-events: none;
}
